@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;

  @theme {
    --color-gray: #efefef;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* dark mode */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: x-large;
  font-weight: 600;
}

h2 {
  font-size: larger;
  font-weight: 600;
}

h3 {
  font-size: large;
  font-weight: 600;
}

button:hover {
  cursor: pointer;
}
